.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
  margin: 80px 170px;
}

.projects-title {
  position: relative;
}

.projects-title h1 {
  padding: 0 30px;
  font-size: 80px;
  font-weight: 600;
}

.projects-format {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding: 60px;
  border-radius: 10px;
  border: 2px solid #fff;
  transition: 0.4s;
  cursor: pointer;
}

.projects-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  margin-bottom: 80px;
}

.projects-container h3 {
  font-size: 28px;
  font-weight: 600;
}

.projects-container h2 {
  font-size: 38px;
  font-weight: 800;
  color: #A91D3A;
}

.projects-format p {
  color: #EEEEEE;
  font-size: 24px;
  line-height: 40px;
  max-width: 300px;
}

.projects-readmore {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-top: 20px;
}

.projects-format:hover {
  border: 2px solid #C73659;
  background-color: #454545;
  transform: scale(1.05);
  transition: 0.2s;
}

@media screen and (max-width: 768px) {
  .projects {
    width: 600px;
    align-items: start;
    gap: 70px;
    margin: 20px 70px;
  }
  .projects-title h1 {
    padding: 0;
    font-size: 50px;
  }
  .projects-format {
    gap: 20px;
    padding: 20px 32px;
  }
  .projects-format h2 {
    font-size: 28px;
  }
  .projects-format p {
    font-size: 18px;
    line-height: 32px;
    max-width: 300px;
    /* display: none; */
  }
  .projects-readmore img {
    width: 20px;
  }
  .projects-container {
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
}