.home {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 25px;
}

.image {
  background-image: url(../../assets/DP.jpg);
  margin-top: 150px;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  background-size: contain; /* or cover */
}

.home h1 {
  text-align: center;
  width: 70%;
  font-size: 60px;
  font-weight: 600;
}

.home h1 span {
  color: #A91D3A;
}

.home p {
  text-align: center;
  width: 70%;
  font-size: 35px;
}

.home-action {
  display: flex;
  align-items: center;
  gap: 25px;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 50px;
}

.home-action a {
  text-decoration: none;
  color: #EEE;
}

.home-action a:hover {
  text-decoration: none;
  color: #EEE;
}

.home-action a:active {
  text-decoration: none;
  color: #EEE;
}

.home-action a:focus {
  text-decoration: none;
  color: #EEE;
}

.home-connect {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 10px 20px;
  border-radius: 50px;
  background: #A91D3A;
  color: white;
  width: fit-content;
  font-size: 24px;
  cursor: pointer;
}

.home-resume {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 10px 20px;
  border-radius: 50px;
  background: #EEEEEE;
  color: #151515;
  width: fit-content;
  font-size: 24px;
  cursor: pointer;
}